In [1]:
import sys
import os
from pathlib import Path
from typing import Any

import pandas as pd

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.utils.google_services import set_up_google_connection
from src.utils.data_extracting import get_acc_files_from_gdrive_folder, extract_text_from_pdf, get_balance_of_account, get_all_transactions, check_income_or_expense, get_transaction_value

# Functions

# Setup

In [2]:
credentials_path = Path('../credentials/cool-plasma-452619-v4-feb20b70d461.json')
client, service = set_up_google_connection(credentials_path)

Using local JSON credentials

In [3]:
SPREADSHEET_ID = os.environ.get('SPREADSHEET_ID')
TEMP_FOLDER_ID = os.environ.get('TEMP_FOLDER_ID')
REGULAR_FOLDER_ID = os.environ.get('REGULAR_FOLDER_ID')

In [4]:
acc_states = get_acc_files_from_gdrive_folder(TEMP_FOLDER_ID, service)
acc_states

[{'id': '1P7IxxT9vNULZjsNrrH-9awJp_lahNROA',
  'name': '2115089016_2023_Nr.001_Kontoauszug.pdf'}]

In [5]:
file_id = acc_states[0]['id']
text = extract_text_from_pdf(file_id, service=service)
lines = text.split('\n')
len(lines)

131

In [6]:
acc_balance_old = get_balance_of_account(lines, 'alter Kontostand')
acc_balance_new = get_balance_of_account(lines, 'neuer Kontostand')
print(f'Old acc value, Value: {acc_balance_old[0]}€ - Line-Index: {acc_balance_old[1]}')
print(f'New acc value, Value: {acc_balance_new[0]}€ - Line-Index: {acc_balance_new[1]}')

all_transactions = get_all_transactions(lines, acc_balance_old[1], acc_balance_new[1])
print(f'Count of transactions: {len(all_transactions)}')

Old acc value, Value: 3401.18€ - Line-Index: 11
New acc value, Value: 2972.89€ - Line-Index: 99
Count of transactions: 17

# Open Spreadsheet

In [7]:
year = acc_states[0]['name'].split('_')[1]
print(year)
SPREADSHEET_ID = os.environ.get('SPREADSHEET_ID')
print(f'Using spreadsheet ID: {SPREADSHEET_ID}')

2023
Using spreadsheet ID: 1z_rr8nVFlF3PKIbO4v6xv_tSswop7sJRzRftzWzPdE8

In [8]:
spreadsheet = client.open_by_key(SPREADSHEET_ID)

sheet_transactions = spreadsheet.worksheet('Transaktionen')
df_sheet_transactions = pd.DataFrame(sheet_transactions.get_all_values())

In [9]:
df_sheet_transactions.columns = df_sheet_transactions.iloc[0]
df_sheet_transactions = df_sheet_transactions[1:].reset_index(drop=True)

In [10]:
df_sheet_transactions.head()

Empty DataFrame
Columns: [Wer, Betrag, Art, Datum, Kategorie, Hinweis]
Index: []

# Add transactions to Gsheet -> Change!

In [ ]:
from datetime import datetime
for transaction_index in range(len(all_transactions)):
    transaction = all_transactions[transaction_index]

    print(transaction)

    transaction_value = get_transaction_value(transaction)
    print(transaction_value)
    transaction_type = check_income_or_expense(transaction)
    print(transaction_type)
    name = transaction[1].strip()
    print(name)
    date_str = str(transaction[0].split(' ')[0] + year)
    date = datetime.strptime(date_str, '%d.%m.%Y').date()
    print(date)

    df_sheet_transactions.loc[len(df_sheet_transactions)] = [name, transaction_value, transaction_type, date, None, None] # Neue Zeile

['02.01. 02.01. Überweisungsauftrag 507,60 S', 'Elisabeth Heuser', 'Elisabeth HeuserGolf IBAN: DE41500105175409388951 BIC: INGDDEFFXXX']
507.6
Ausgabe
Elisabeth Heuser
2023-01-02
['02.01. 02.01. Dauerauftragsbelast 10,00 S', 'Freundeskreis Elisabeth-Hospiz e.V.', 'Freundeskreis Elisabeth-Hospiz e.V.Spende /*DA-2* IBAN: DE70370695202107385013 BIC: GENODED1RST']
10.0
Ausgabe
Freundeskreis Elisabeth-Hospiz e.V.
2023-01-02
['02.01. 02.01. Kartenzahlung girocard 10,37 S', 'KAUFLAND', 'KAUFLANDKaufland Lohmar/Lohmar/DE31.12.2022 um 09:39:46 Uhr 61347200/159578/ECTL/37069520/2115089016/1/1225']
10.37
Ausgabe
KAUFLAND
2023-01-02
['02.01. 02.01. Kartenzahlung girocard 254,00 S', '11teamsports Koeln GmbH', '11teamsports Koeln GmbH11teamsports Koeln GmbH/Koeln/DE30.12.2022 um 17:02:27 Uhr 60533803/11992/CICC/FPIN37069520/2115089016/1/1225 REF 743710/260047']
254.0
Ausgabe
11teamsports Koeln GmbH
2023-01-02
['03.01. 03.01. Dauerauftragsgutschr 60,00 H', 'Heinz-Dieter Heuser', 'Heinz-Dieter HeuserTaschengeld']
60.0
Einnahme
Heinz-Dieter Heuser
2023-01-03
['09.01. 09.01. Kartenzahlung girocard 61,03 S', 'ARAL AG', 'ARAL AGARAL K-ln Olpener Stra-e 1026/K-ln/DE06.01.2023 um 16:51:04 Uhr 71113396/771043/ECTL/NPIN37069520/2115089016/1/1225 REF 043453/000000']
61.03
Ausgabe
ARAL AG
2023-01-09
['10.01. 10.01. Dauerauftragsbelast 10,00 S', 'Elisabeth Heuser', 'Elisabeth HeuserDAZN /*DA-1* IBAN: DE41500105175409388951 BIC: INGDDEFFXXX']
10.0
Ausgabe
Elisabeth Heuser
2023-01-10
['11.01. 11.01. Basislastschrift 15,99 S', 'PayPal Europe S.a.r.l. et Cie S.C.A', 'PayPal Europe S.a.r.l. et Cie S.C.A1024597675926 . Thalia Bucher GmbH, Ihr Einkauf bei Thalia Bucher GmbH EREF: 1024597675926 MREF: 53E22254DUCD6 CRED: LU96ZZZ0000000000000000058']
15.99
Ausgabe
PayPal Europe S.a.r.l. et Cie S.C.A
2023-01-11
['13.01. 13.01. Basislastschrift 200,00 S', 'Xaver Heuser', 'Xaver HeuserScalable Capital Broker 4x Sparplan EREF: 6WASSDUJDH5M9AFP6HURSN MREF: S7YUGRLXNR8QOATEPCC6WI CRED: DE63MUC00001787612']
200.0
Ausgabe
Xaver Heuser
2023-01-13
['13.01. 13.01. Kartenzahlung girocard 58,00 S', 'HENNES OPTIK + HRGE LOHMAR', 'HENNES OPTIK + HRGE LOHMARHENNES OPTIK + HRGE LOHMAR/LOHMAR/DE12.01.2023 um 16:42:01 Uhr 64029681/008979/ECTL/NPIN37069520/2115089016/1/1225 REF 303608/260047']
58.0
Ausgabe
HENNES OPTIK + HRGE LOHMAR
2023-01-13
['16.01. 16.01. Dauerauftragsbelast 500,00 S', 'Xaver Heuser', 'Xaver HeuserMonatliches Sparen /*DA-3* IBAN: DE63500105175586712121 BIC: INGDDEFFXXX']
500.0
Ausgabe
Xaver Heuser
2023-01-16
['16.01. 16.01. Basislastschrift 32,99 S', 'PayPal Europe S.a.r.l. et Cie S.C.A', 'PayPal Europe S.a.r.l. et Cie S.C.A1024654452216 . Thalia Bucher GmbH, Ihr Einkauf bei Thalia Bucher GmbH EREF: 1024654452216 MREF: 53E22254DUCD6 CRED: LU96ZZZ0000000000000000058']
32.99
Ausgabe
PayPal Europe S.a.r.l. et Cie S.C.A
2023-01-16
['16.01. 16.01. Kartenzahlung girocard 31,00 S', 'HEADCLUB Haircare for you', 'HEADCLUB Haircare for youHEADCLUB Haircare for you/LOHMAR/DE13.01.2023 um 18:19:41 Uhr 52013286/998977/ECTL/37069520/2115089016/1/1225']
31.0
Ausgabe
HEADCLUB Haircare for you
2023-01-16
['16.01. 16.01. Kartenzahlung girocard 13,38 S', '0791 EDEKA KLEIN-HESSLING', '0791 EDEKA KLEIN-HESSLING0791 EDEKA KLEIN-HESSLING/LOHMAR/DE13.01.2023 um 17:00:31 Uhr 54505695/482541/ECTL/37069520/2115089016/1/1225']
13.38
Ausgabe
0791 EDEKA KLEIN-HESSLING
2023-01-16
['16.01. 16.01. Lohn/Gehalt/Rente 1.006,77 H', 'Deutsche Telekom AG', 'Deutsche Telekom AGLohn/Gehalt 00601479/202301 EREF: 00601479']
1006.77
Einnahme
Deutsche Telekom AG
2023-01-16
['19.01. 19.01. Kartenzahlung girocard 72,80 S', 'bft Lohmar', 'bft Lohmarbft Lohmar/Lohmar/DE18.01.2023 um 18:48:09 Uhr 74074206/000573/ECTL/NPIN37069520/2115089016/1/1225 REF 187901/260047']
72.8
Ausgabe
bft Lohmar
2023-01-19
['31.01. 31.01. Lohn/Gehalt/Rente 282,10 H', 'Deutsche Post AG NL Renten Service', 'Deutsche Post AG NL Renten Service01353120768H00321 RV-RENTE 01.2023 EREF: PANR01353120768H00321']
282.1
Einnahme
Deutsche Post AG NL Renten Service
2023-01-31

In [12]:
df_sheet_transactions

,Wer,Betrag,Art,Datum,Kategorie,Hinweis
-1,Deutsche Post AG NL Renten Service,282.1,Einnahme,2023-01-31,None,None