In [1]:
import os
from pathlib import Path
import sys

import pandas as pd


sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.utils.data_extracting import (
    check_income_or_expense,
    extract_text_from_pdf,
    get_acc_files_from_gdrive_folder,
    get_all_transactions,
    get_balance_of_account,
    get_transaction_value,
)
from src.utils.google_services import set_up_google_connection

# Functions

# Setup

In [2]:
credentials_path = Path('../credentials/cool-plasma-452619-v4-feb20b70d461.json')
client, service = set_up_google_connection(credentials_path)

Using local JSON credentials

In [3]:
SPREADSHEET_ID = os.environ.get('SPREADSHEET_ID')
TEMP_FOLDER_ID = os.environ.get('TEMP_FOLDER_ID')
REGULAR_FOLDER_ID = os.environ.get('REGULAR_FOLDER_ID')

In [4]:
acc_states = get_acc_files_from_gdrive_folder(TEMP_FOLDER_ID, service)
acc_states

[{'id': '1EdnDpB38JUnIFEsowTZdnrduUadhZLmk',
  'name': '2115089016_2023_Nr.002_Kontoauszug.pdf'}]

In [5]:
file_id = acc_states[0]['id']
text = extract_text_from_pdf(file_id, service=service)
lines = text.split('\n')
len(lines)

126

In [6]:
acc_balance_old = get_balance_of_account(lines, 'alter Kontostand')
acc_balance_new = get_balance_of_account(lines, 'neuer Kontostand')
print(f'Old acc value, Value: {acc_balance_old[0]}€ - Line-Index: {acc_balance_old[1]}')
print(f'New acc value, Value: {acc_balance_new[0]}€ - Line-Index: {acc_balance_new[1]}')

all_transactions = get_all_transactions(lines, acc_balance_old[1], acc_balance_new[1])
print(f'Count of transactions: {len(all_transactions)}')

Old acc value, Value: 2972.89€ - Line-Index: 11
New acc value, Value: 3427.84€ - Line-Index: 94
Count of transactions: 16

# Open Spreadsheet

In [7]:
year = acc_states[0]['name'].split('_')[1]
print(year)
SPREADSHEET_ID = os.environ.get('SPREADSHEET_ID')
print(f'Using spreadsheet ID: {SPREADSHEET_ID}')

2023
Using spreadsheet ID: 1z_rr8nVFlF3PKIbO4v6xv_tSswop7sJRzRftzWzPdE8

In [8]:
spreadsheet = client.open_by_key(SPREADSHEET_ID)

sheet_transactions = spreadsheet.worksheet('Transaktionen')
df_sheet_transactions = pd.DataFrame(sheet_transactions.get_all_values())

In [9]:
df_sheet_transactions.columns = df_sheet_transactions.iloc[0]
df_sheet_transactions = df_sheet_transactions[1:].reset_index(drop=True)

In [10]:
df_sheet_transactions.head()

,Wer,Betrag,Art,Datum,Kategorie,Hinweis
0,Elisabeth Heuser,"507,60",Ausgabe,2023-01-02,,
1,Freundeskreis Elisabeth-Hospiz e.V.,"10,00",Ausgabe,2023-01-02,,
2,KAUFLAND,"10,37",Ausgabe,2023-01-02,,
3,11teamsports Koeln GmbH,"254,00",Ausgabe,2023-01-02,,
4,Heinz-Dieter Heuser,"60,00",Einnahme,2023-01-03,,

# Add transactions to GSheet -> Change!

In [15]:
for transaction_index in range(len(all_transactions)):
    transaction = all_transactions[transaction_index]

    print(transaction)

    transaction_value = get_transaction_value(transaction)
    print(transaction_value)
    transaction_type = check_income_or_expense(transaction)
    print(transaction_type)
    name = transaction[1].strip()
    print(name)
    date_str = str(transaction[0].split(' ')[0] + year)
    date = pd.to_datetime(date_str, format='%d.%m.%Y').date()
    print(date)

    df_sheet_transactions.loc[len(df_sheet_transactions)] = [
        name,
        transaction_value,
        transaction_type,
        date,
        None,
        None,
    ]  # Neue Zeile

['01.02. 01.02. Dauerauftragsbelast 10,00 S', 'Freundeskreis Elisabeth-Hospiz e.V.', 'Freundeskreis Elisabeth-Hospiz e.V.Spende /*DA-2* IBAN: DE70370695202107385013 BIC: GENODED1RST']
10.0
Ausgabe
Freundeskreis Elisabeth-Hospiz e.V.
2023-02-01
['02.02. 02.02. Kartenzahlung girocard 61,14 S', 'Mundorf', 'MundorfMundorf Tank 18/Siegburg/DE01.02.2023 um 18:55:35 Uhr 74054122/152785/ECTL/NPIN37069520/2115089016/1/1225 REF 247632/260047']
61.14
Ausgabe
Mundorf
2023-02-02
['03.02. 03.02. Dauerauftragsgutschr 60,00 H', 'Heinz-Dieter Heuser', 'Heinz-Dieter HeuserTaschengeld']
60.0
Einnahme
Heinz-Dieter Heuser
2023-02-03
['06.02. 06.02. Überweisungsgutschr. 9,00 H', 'Florian Peter Bratka', 'Florian Peter BratkaJulius Geburtstagsgeschenk']
9.0
Einnahme
Florian Peter Bratka
2023-02-06
['10.02. 10.02. Dauerauftragsbelast 10,00 S', 'Elisabeth Heuser', 'Elisabeth HeuserDAZN /*DA-1* IBAN: DE41500105175409388951 BIC: INGDDEFFXXX']
10.0
Ausgabe
Elisabeth Heuser
2023-02-10
['13.02. 13.02. Kartenzahlung girocard 6,08 S', 'KAUFLAND', 'KAUFLANDKaufland Lohmar/Lohmar/DE10.02.2023 um 16:19:31 Uhr 61347201/334402/ECTL/37069520/2115089016/1/1225 REF 511171/260047']
6.08
Ausgabe
KAUFLAND
2023-02-13
['15.02. 15.02. Basislastschrift 200,00 S', 'Xaver Heuser', 'Xaver HeuserScalable Capital Broker 4x Sparplan EREF: NSEVS3MY8ZD6QCCASYWGGF MREF: S7YUGRLXNR8QOATEPCC6WI CRED: DE63MUC00001787612']
200.0
Ausgabe
Xaver Heuser
2023-02-15
['16.02. 16.02. Dauerauftragsbelast 500,00 S', 'Xaver Heuser', 'Xaver HeuserMonatliches Sparen /*DA-3* IBAN: DE63500105175586712121 BIC: INGDDEFFXXX']
500.0
Ausgabe
Xaver Heuser
2023-02-16
['16.02. 16.02. Lohn/Gehalt/Rente 1.120,77 H', 'Deutsche Telekom AG', 'Deutsche Telekom AGLohn/Gehalt 00601479/202302 EREF: 00601479']
1120.77
Einnahme
Deutsche Telekom AG
2023-02-16
['16.02. 16.02. Kartenzahlung girocard 28,90 S', 'LOUNGE BOWLING', 'LOUNGE BOWLINGLOUNGE BOWLING GIR 69067307/NEUNKIRCHEN-SEELSCHE/DE15.02.2023 um 21:17:56 Uhr 69067307/3783/ECTL/37069520/2115089016/1/1225 REF 358786/260047']
28.9
Ausgabe
LOUNGE BOWLING
2023-02-16
['17.02. 17.02. Kartenzahlung girocard 64,55 S', 'Mundorf', 'MundorfMundorf Tank 18/Siegburg/DE16.02.2023 um 16:14:05 Uhr 74054122/160939/ECTL/NPIN37069520/2115089016/1/1225 REF 451580/260047']
64.55
Ausgabe
Mundorf
2023-02-17
['27.02. 27.02. Kartenzahlung girocard 26,00 S', 'Coiffeur Team Iseri', 'Coiffeur Team IseriCoiffeur Team Iseri/Siegburg/DE24.02.2023 um 16:24:55 Uhr 60516970/31292/ECTL/NPIN37069520/2115089016/1/1225 REF 759306/260047']
26.0
Ausgabe
Coiffeur Team Iseri
2023-02-27
['28.02. 28.02. Lohn/Gehalt/Rente 282,10 H', 'Deutsche Post AG NL Renten Service', 'Deutsche Post AG NL Renten Service01353120768H00321 RV-RENTE 02.2023 EREF: PANR01353120768H00321']
282.1
Einnahme
Deutsche Post AG NL Renten Service
2023-02-28
['28.02. 28.02. Kartenzahlung girocard 77,30 S', 'Transdev Vertrieb Gm', 'Transdev Vertrieb GmTRANSDEV VERTRIEB GMBH/Frankfurt am Main/DE27.02.2023 um 10:02:55 Uhr 55660030/059660/CICC/FPIN37069520/2115089016/1/1225 REF 978256/260047']
77.3
Ausgabe
Transdev Vertrieb Gm
2023-02-28
['28.02. 28.02. Kartenzahlung girocard 6,73 S', 'LIDL DIENSTLEISTUNG GMBH UND CO KG', 'LIDL DIENSTLEISTUNG GMBH UND CO KGLIDL DIENSTLEISTUNG GMBH UND CO KG/Frankfurt-Sachsenha27.02.2023 um 16:36:41 Uhr 60158872/125331/ECTL/37069520/2115089016/1/1225']
6.73
Ausgabe
LIDL DIENSTLEISTUNG GMBH UND CO KG
2023-02-28
['28.02. 28.02. Kartenzahlung girocard 26,22 S', 'REWE Ali Sahin oHG', 'REWE Ali Sahin oHGREWE SAGT DANKE. 44652484/Frankfurt Sachse/DE27.02.2023 um 11:49:22 Uhr 56002007/552074/ECTL/37069520/2115089016/1/1225']
26.22
Ausgabe
REWE Ali Sahin oHG
2023-02-28

In [12]:
df_sheet_transactions

,Wer,Betrag,Art,Datum,Kategorie,Hinweis
0,Elisabeth Heuser,"507,60",Ausgabe,2023-01-02,,
1,Freundeskreis Elisabeth-Hospiz e.V.,"10,00",Ausgabe,2023-01-02,,
2,KAUFLAND,"10,37",Ausgabe,2023-01-02,,
3,11teamsports Koeln GmbH,"254,00",Ausgabe,2023-01-02,,
4,Heinz-Dieter Heuser,"60,00",Einnahme,2023-01-03,,
5,ARAL AG,"61,03",Ausgabe,2023-01-09,,
6,Elisabeth Heuser,"10,00",Ausgabe,2023-01-10,,
7,PayPal Europe S.a.r.l. et Cie S.C.A,"15,99",Ausgabe,2023-01-11,,
8,Xaver Heuser,"200,00",Ausgabe,2023-01-13,,
9,HENNES OPTIK + HRGE LOHMAR,"58,00",Ausgabe,2023-01-13,,
10,Xaver Heuser,"500,00",Ausgabe,2023-01-16,,
11,PayPal Europe S.a.r.l. et Cie S.C.A,"32,99",Ausgabe,2023-01-16,,
12,HEADCLUB Haircare for you,"31,00",Ausgabe,2023-01-16,,
13,0791 EDEKA KLEIN-HESSLING,"13,38",Ausgabe,2023-01-16,,
14,Deutsche Telekom AG,"1006,77",Einnahme,2023-01-16,,
15,bft Lohmar,"72,80",Ausgabe,2023-01-19,,
16,Deutsche Post AG NL Renten Service,"282,10",Einnahme,2023-01-31,,
17,Freundeskreis Elisabeth-Hospiz e.V.,10.0,Ausgabe,2023-02-01,None,None
18,Mundorf,61.14,Ausgabe,2023-02-02,None,None
19,Heinz-Dieter Heuser,60.0,Einnahme,2023-02-03,None,None
20,Florian Peter Bratka,9.0,Einnahme,2023-02-06,None,None
21,Elisabeth Heuser,10.0,Ausgabe,2023-02-10,None,None
22,KAUFLAND,6.08,Ausgabe,2023-02-13,None,None
23,Xaver Heuser,200.0,Ausgabe,2023-02-15,None,None
24,Xaver Heuser,500.0,Ausgabe,2023-02-16,None,None
25,Deutsche Telekom AG,1120.77,Einnahme,2023-02-16,None,None
26,LOUNGE BOWLING,28.9,Ausgabe,2023-02-16,None,None
27,Mundorf,64.55,Ausgabe,2023-02-17,None,None
28,Coiffeur Team Iseri,26.0,Ausgabe,2023-02-27,None,None
29,Deutsche Post AG NL Renten Service,282.1,Einnahme,2023-02-28,None,None
30,Transdev Vertrieb Gm,77.3,Ausgabe,2023-02-28,None,None
31,LIDL DIENSTLEISTUNG GMBH UND CO KG,6.73,Ausgabe,2023-02-28,None,None
32,REWE Ali Sahin oHG,26.22,Ausgabe,2023-02-28,None,None

In [13]:
from src.utils.data_loading import update_google_sheet


update_google_sheet(sheet_transactions, df_sheet_transactions)

In [14]:
from src.utils.google_services import move_file


move_file(file_id, acc_states[0]['name'], TEMP_FOLDER_ID, REGULAR_FOLDER_ID, service)

File 1EdnDpB38JUnIFEsowTZdnrduUadhZLmk moved to 1e0FsZObsGaB4aoee2UTftyjWW75AfOrT